In [62]:
import pandas as pd
import numpy as np

In [63]:
data = pd.read_csv('Fraud.csv')

In [64]:
df = pd.DataFrame(data)

In [65]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

# Check Null Values in DataFrame

In [66]:
df['step'].isnull().values.any()

False

In [67]:
df['type'].isnull().values.any()

False

In [68]:
df['amount'].isnull().values.any()

False

In [69]:
df['nameOrig'].isnull().values.any()

False

In [70]:
df['oldbalanceOrg'].isnull().values.any()

False

In [71]:
df['newbalanceOrig'].isnull().values.any()

False

In [72]:
df['nameDest'].isnull().values.any()

False

In [73]:
df['oldbalanceDest'].isnull().values.any()

False

In [74]:
df['newbalanceDest'].isnull().values.any()

False

#There is no missing values in the data. We don't need to fill missing values.

# Spliting data in two (Training and Testing)

In [183]:
training_data = df.sample(frac=0.9, random_state=25)
testing_data = df.drop(training_data.index)

In [184]:
training_data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
459164,19,CASH_OUT,26106.13,C58173912,100236.00,74129.87,C42901132,858940.39,885046.52,0,0
5869175,403,CASH_IN,353806.81,C136420659,530.00,354336.81,C741788620,133412.83,0.00,0,0
121445,11,PAYMENT,8787.11,C2016744086,61711.00,52923.89,M965254760,0.00,0.00,0,0
3912029,284,CASH_IN,79145.25,C771107310,11132357.35,11211502.61,C775191694,95066.42,15921.17,0,0
344645,16,CASH_OUT,356930.65,C1479370789,23852.00,0.00,C463312451,109487.00,219933.13,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6002319,428,CASH_OUT,116429.31,C293788698,0.00,0.00,C1213165464,459572.55,576001.86,0,0
601979,34,PAYMENT,24113.71,C914313400,10097.00,0.00,M552817842,0.00,0.00,0,0
4552582,327,TRANSFER,10000000.00,C809402225,90029.00,0.00,C530916999,348892.13,15065045.80,0,0
5870083,403,CASH_OUT,132047.69,C1692683261,229424.00,97376.31,C1942732094,2433670.04,2565717.73,0,0
3360711,254,CASH_OUT,173304.39,C1586536793,0.00,0.00,C1553217607,7149472.67,7322777.06,0,0

In [185]:
testing_data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
16,1,PAYMENT,1563.82,C761750706,450.00,0.00,M1731217984,0.0,0.00,0,0
24,1,TRANSFER,311685.89,C1984094095,10835.00,0.00,C932583850,6267.0,2719172.89,0,0
32,1,PAYMENT,5885.56,C840514538,0.00,0.00,M1804441305,0.0,0.00,0,0
34,1,PAYMENT,5031.22,C247113419,0.00,0.00,M151442075,0.0,0.00,0,0
52,1,PAYMENT,2330.64,C816944408,203543.00,201212.36,M909132503,0.0,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362593,741,CASH_OUT,383661.10,C369315575,383661.10,0.00,C2069429837,1788112.7,2171773.80,1,0
6362601,742,CASH_OUT,652993.91,C1614818636,652993.91,0.00,C362803701,0.0,652993.91,1,0
6362602,742,TRANSFER,1819543.69,C2089752665,1819543.69,0.00,C112833674,0.0,0.00,1,0
6362604,742,TRANSFER,54652.46,C1674778854,54652.46,0.00,C1930074465,0.0,0.00,1,0
6362608,742,TRANSFER,258355.42,C1226129332,258355.42,0.00,C1744173808,0.0,0.00,1,0

# Statistical View of Data

In [32]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

# Removing Outliers

In [187]:
training_data = training_data[~(np.array(training_data['amount']>300000))]
#The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.

testing_data = testing_data[~(np.array(testing_data['amount']>300000))]   #The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.

In [188]:
training_data = training_data[~(np.array(training_data['oldbalanceOrg']>250000))]
#The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.

testing_data = testing_data[~(np.array(testing_data['oldbalanceOrg']>250000))]

In [189]:
training_data = training_data[~(np.array(training_data['newbalanceOrig']>62500))]   #The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.
training_data = training_data[~(np.array(training_data['oldbalanceDest']>1250000))]   #The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.
training_data = training_data[~(np.array(training_data['newbalanceDest']>1500000))]   #The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.

testing_data = testing_data[~(np.array(testing_data['newbalanceOrig']>62500))]   #The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.
testing_data = testing_data[~(np.array(testing_data['oldbalanceDest']>1250000))]   #The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.
testing_data = testing_data[~(np.array(testing_data['newbalanceDest']>1500000))]   #The data points which fall below Q1 â€“ 1.5 IQR or above Q3 + 1.5 IQR are outliers.

In [197]:
training_data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,2.785211e+06,2.785211e+06,2.785211e+06,2.785211e+06,2.785211e+06,2.785211e+06,2.785211e+06,2785211.0
mean,2.461297e+02,6.472219e+04,1.582795e+04,5.505281e+03,1.569546e+05,2.156334e+05,9.148319e-04,0.0
std,1.413103e+02,7.931243e+04,2.866313e+04,1.305858e+04,2.844196e+05,3.380069e+05,3.023236e-02,0.0
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,1.580000e+02,7.927665e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,2.500000e+02,2.273753e+04,5.070000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
75%,3.450000e+02,1.052058e+05,2.105900e+04,0.000000e+00,2.100078e+05,3.276320e+05,0.000000e+00,0.0
max,7.420000e+02,2.999998e+05,2.499960e+05,6.249997e+04,1.249990e+06,1.499999e+06,1.000000e+00,0.0

In [53]:
#Here we remove mostly outlier using statitics describe

# Multicollinearity using VIF

In [163]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
  

X = training_data[['amount', 'oldbalanceOrg', 'newbalanceOrig','oldbalanceDest','newbalanceDest','isFraud']]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
    
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

          feature        VIF
0          amount   5.899748
1   oldbalanceOrg   1.991578
2  newbalanceOrig   1.616178
3  oldbalanceDest  41.395573
4  newbalanceDest  59.879722
5         isFraud   1.013856

In [164]:
# We remove the newblanceorgin and old balanceorigin, as it will the final amount after the transcation

In [165]:
Y = X['isFraud']
X = X.drop(['oldbalanceDest', 'newbalanceDest','isFraud','newbalanceDest'], axis=1)

# Here we use Random Forest Classification

In [166]:
from sklearn.ensemble import RandomForestClassifier

In [167]:
rf = RandomForestClassifier()

In [168]:
rf.fit(X,Y)

RandomForestClassifier()

# Try to predict some values

In [177]:
check = rf.predict([[47721.95,47721.95,0]])

In [178]:
check

array([1], dtype=int64)

In [202]:
check = rf.predict([[1563.82,450.00,0]])

In [203]:
check

array([0], dtype=int64)

# Check the accuracy of Model using Test data set

In [195]:
from sklearn.metrics import accuracy_score
S = ['amount','oldbalanceOrg','newbalanceOrig']
y_predict = rf.predict(testing_data[S])

In [196]:
accuracy_score(testing_data['isFraud'], y_predict)

0.9997899899518269